<!-- desktop header -->
<header class="desktop-header-3 fixed-top">

    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-dark align-items-center"> {# "navbar navbar-expand-lg navbar-dark" #}
            <a class="navbar-brand" href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/logo.svg') }}" width="200" alt="{{ params.title }}" /></a> <button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarNavDropdown" data-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
            {% if request.path == "/" %}
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto scrollspy">
                    <li class="nav-item"><a class="nav-link" href="#home">{{ t["Home"] }}</a></li>
                    <li class="nav-item"><a href="#about" class="nav-link">{{ t["About"] }}</a></li>
                    <li class="nav-item"><a href="#services" class="nav-link">{{ t["Services"] }}</a></li>
                    {# <li class="nav-item"><a href="#experience" class="nav-link">{{ t["Experience"] }}</a></li>  #}
                    <li class="nav-item"><a href="#works" class="nav-link">{{ t["Works"] }}</a></li>
                    <li class="nav-item"><a href="https://blog.cesco.it" class="nav-link">{{ t["Blog"] }}</a></li>
                    <li class="nav-item"><a href="#contact" class="nav-link">{{ t["Contact"] }}</a></li>
                </ul>
            </div>
            {% endif %}
        </nav>

    </div>

</header>